poetry.lock
**/__pycache__/**
results/**
agent_eval_harness/.env
agent_eval_harness.egg-info/**
dist/agent_eval_harness-0.1.0.tar.gz
agent_eval_harness/scratch.py
experiments/**
logs/**
.vscode/**
.env
.eggs/*
agents/Agentless/results_run_agentless_gpt_4o_mini_c_1_2024-08-17_13-53-01
agents/SWE_agent/trajectories/azureuser
.venv/