logs/**
*.log
.env
.eggs/**
**/__pycache__/**
results/**
agent_eval_harness.egg-info/**
agents/Moatless/evaluations/**
agents/Moatless/index_store/**
agent_eval_harness/scratch.ipynb
agent_eval_harness/benchmarks/SWE-bench
agents/Agentless
agents/SWE-agent
agents/Moatless/ingest.ipynb
scratch.py
scratch.ipynb
write_swebench_upload_file.py
write_upload_file.ipynb
