[submodule "agent_eval_harness/benchmarks/SWE-bench"]
	path = agent_eval_harness/benchmarks/SWE-bench
	url = https://github.com/princeton-nlp/SWE-bench.git
[submodule "agent_eval_harness/benchmarks/USACO"]
	path = agent_eval_harness/benchmarks/USACO
	url = https://github.com/benediktstroebl/USACO.git
[submodule "agent_eval_harness/agents/Agentless"]
	path = agent_eval_harness/agents/Agentless
	url = https://github.com/benediktstroebl/Agentless.git
[submodule "agent_eval_harness/agents/SWE-agent"]
	path = agent_eval_harness/agents/SWE-agent
	url = https://github.com/benediktstroebl/SWE-agent.git
