[submodule "agent_eval_harness/benchmarks/SWE-bench"]
	path = agent_eval_harness/benchmarks/SWE-bench
	url = https://github.com/benediktstroebl/SWE-bench.git
[submodule "agents/SWE-agent"]
	path = agents/SWE-agent
	url = https://github.com/benediktstroebl/SWE-agent.git
[submodule "agents/Agentless"]
	path = agents/Agentless
	url = https://github.com/benediktstroebl/Agentless.git
