appworld
openai
smolagents @ git+https://github.com/huggingface/smolagents@d8daf8f6e68d4e7ebe9f428938c3466fe482ebb0
mammoth
python_pptx>=1.0.2
pdfminer>=20191125
pdfminer.six>=20240706
puremagic>=1.28
pydub
youtube_transcript_api>=0.6.2
SpeechRecognition
tiktoken
pandas
litellm